<div class="settings-view">
  <div>
    <mat-checkbox [(ngModel)]="showDowntimesInPartyArea">Downtimes in party area</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="buffmap">Buffs Heatmap</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="ogcdAsPoints">OGCD attacks as points</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="verticalBossAttacks">Vertical Boss Attacks</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="compactView">Compact View</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="highlightLoaded">Highlight Loaded</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="abilityAvailablity">Abilities Availability Map</mat-checkbox>
  </div>
</div>
