.abilityName {
  font-weight: bold;
  font-size: 20px;
  vertical-align: bottom;
  margin-left: 3px;
}

.icon {
  width: 36px;
  height: 36px;
}

.abilityDescription {
  padding: 2px;
}

.usedTime {
  margin-right: 2px;
}

.usedTarget {
  margin-left: 3px;
}
