<ng-template #contextMenu>
  <ul nz-menu nzInDropDown>
    <ng-container *ngFor="let action of contextMenuActions" >
      <li nz-menu-item nz-submenu *ngIf="selectSubmenu(action) == 'filter'">
        <span title>{{action.text}}</span>
        <ul>
          <li nz-menu-item >
            Ability types:
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [(ngModel)]="action.filter.selfDefence" [nzIndeterminate]="action.filter.selfDefence === undefined">Self Defense</label>
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [(ngModel)]="action.filter.partyDefence" [nzIndeterminate]="action.filter.partyDefence === undefined">Party Defense</label>
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [nzIndeterminate]="action.filter.selfDamageBuff == undefined" [(ngModel)]="action.filter.selfDamageBuff">Self Damage Buff</label>
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [nzIndeterminate]="action.filter.partyDamageBuff == undefined" [(ngModel)]="action.filter.partyDamageBuff">Party Damage Buff</label>
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [nzIndeterminate]="action.filter.damage == undefined" [(ngModel)]="action.filter.damage">OGCD Damage</label>
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [nzIndeterminate]="action.filter.healing == undefined" [(ngModel)]="action.filter.healing">Healing</label>
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [nzIndeterminate]="action.filter.healingBuff == undefined" [(ngModel)]="action.filter.healingBuff">Healing Buff</label>
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [nzIndeterminate]="action.filter.utility == undefined" [(ngModel)]="action.filter.utility">Utility</label>
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [nzIndeterminate]="action.filter.pet == undefined" [(ngModel)]="action.filter.pet">Pet</label>
          </li>
          <li nz-menu-item>
            <label nz-checkbox (ngModelChange)="updateFilter(action.filter)" [nzIndeterminate]="action.filter.unused == undefined" [(ngModel)]="action.filter.unused">Show Unused</label>
          </li>
          <li nz-menu-item (click)="resetJobFilter(action.filter)">
            Reset
          </li>
        </ul>
      </li>
      <li nz-menu-item nz-submenu *ngIf="selectSubmenu(action) == 'downtime'">
        <span title>{{action.text}}</span>
        <ul>
          <li nz-menu-item (click)="action.handler().remove()">
            <i nz-icon nzType="delete" nzTheme="outline"></i>Remove
          </li>
          <li nz-menu-item (click)="action.handler().color('green')">
            <span style="background-color: green;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Green
          </li>
          <li nz-menu-item  (click)="action.handler().color('pink')">
            <span style="background-color: pink;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Pink
          </li>
          <li nz-menu-item (click)="action.handler().color('yellow')">
            <span style="background-color: yellow;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Yellow
          </li>
          <li nz-menu-item  (click)="action.handler().color('orange')">
            <span style="background-color: orange;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Orange
          </li>
          <li nz-menu-item  (click)="action.handler().color('red')">
            <span style="background-color: red;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Red
          </li>
          <li nz-menu-item (click)="action.handler().color('aqua')">
            <span style="background-color: aqua; margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Aqua
          </li>
        </ul>
      </li>
      <li nz-menu-item nz-submenu *ngIf="selectSubmenu(action) == 'pets'">
        <span title>{{action.text}}</span>
        <ul>
          <li nz-menu-item *ngFor="let pet of action.pets" (click)="pet.action()">
            <label nz-checkbox [(ngModel)]="pet.selected"><img [src]="pet.icon" alt="{{pet.name}}" *ngIf="!!pet.icon" class="menu-icon">{{pet.name}}</label>
          </li>
        </ul>
      </li>
      <li nz-menu-item nz-submenu *ngIf="selectSubmenu(action) == 'hidden'">
        <span title>{{action.text}}</span>
        <ul>
          <li nz-menu-item *ngFor="let ab of action.hidden" (click)="ab.action()">
            <img [src]="ab.icon" alt="{{ab.name}}" *ngIf="!!ab.icon" class="menu-icon">{{ab.name}}
          </li>
        </ul>
      </li>
      <li nz-menu-item *ngIf="selectSubmenu(action) == 'simple'" (click)="close(action.handler)">
        <span *ngIf="!action.isCheckBox"><img [src]="action.icon" alt="{{action.text}}" *ngIf="!!action.icon" class="menu-icon">{{action.text}}</span>
        <label nz-checkbox *ngIf="action.isCheckBox" [(ngModel)]="action.checked">{{action.text}}</label>
      </li>
    </ng-container>
  </ul>
</ng-template>

<context-menu>
  <context-menu #filterMenu>
  
  </context-menu>
</context-menu>
