<context-menu *ngFor="let action of contextMenuActions" [menuClass]="'downtime-menu '+(action.item && action.item.id)">
  <ng-template contextMenuItem let-item [visible]="true" [enabled]="true" (execute)="action.handler().remove()">
    <i nz-icon nzType="delete" nzTheme="outline"></i>Remove
  </ng-template>
  <ng-template contextMenuItem let-item [visible]="true" [enabled]="true" (execute)="action.handler().color('green')">
    <span style="background-color: green;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Green
  </ng-template>
  <ng-template contextMenuItem let-item [visible]="true" [enabled]="true" (execute)="action.handler().color('pink')">
    <span style="background-color: pink;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Pink
  </ng-template>
  <ng-template contextMenuItem let-item [visible]="true" [enabled]="true" (execute)="action.handler().color('yellow')">
    <span style="background-color: yellow;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Yellow
  </ng-template>
  <ng-template contextMenuItem let-item [visible]="true" [enabled]="true" (execute)="action.handler().color('orange')">
    <span style="background-color: orange;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Orange
  </ng-template>
  <ng-template contextMenuItem let-item [visible]="true" [enabled]="true" (execute)="action.handler().color('red')">
    <span style="background-color: red;margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Red
  </ng-template>
  <ng-template contextMenuItem let-item [visible]="true" [enabled]="true" (execute)="action.handler().color('aqua')">
    <span style="background-color: aqua; margin-right: 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Aqua
  </ng-template>
</context-menu>

<context-menu #contextMenu>
  <ng-template *ngFor="let action of contextMenuActions" contextMenuItem let-item [visible]="true" [enabled]="true" (execute)="action.handler()" [subMenu]="selectSubmenu(action, filterMenu, petsMenu, hiddenMenu)">
    <span *ngIf="!action.isCheckBox"><img [src]="action.icon" alt="{{action.text}}" *ngIf="!!action.icon" class="menu-icon">{{action.text}}</span>
    <label nz-checkbox *ngIf="action.isCheckBox" [(ngModel)]="action.checked">{{action.text}}</label>
  </ng-template>
  <context-menu #petsMenu>
    <ng-template *ngFor="let pet of pets" contextMenuItem [visible]="true" [enabled]="true" [passive]="false" (execute)="pet.action()">
      <label nz-checkbox [(ngModel)]="pet.selected"><img [src]="pet.icon" alt="{{pet.name}}" *ngIf="!!pet.icon" class="menu-icon">{{pet.name}}</label>
    </ng-template>
  </context-menu>
  <context-menu #hiddenMenu>
    <ng-template *ngFor="let ab of hidden" contextMenuItem [visible]="true" [enabled]="true" [passive]="false" (execute)="ab.action()">
      <img [src]="ab.icon" alt="{{ab.name}}" *ngIf="!!ab.icon" class="menu-icon">{{ab.name}}
    </ng-template>
  </context-menu>
  <context-menu #filterMenu>
    <ng-template contextMenuItem [visible]="true" [enabled]="false" passive="true">
      Ability types:
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="jobFilter.selfDefence" [nzIndeterminate]="jobFilter.selfDefence === undefined">Self Defense</label>
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [(ngModel)]="jobFilter.partyDefence" [nzIndeterminate]="jobFilter.partyDefence === undefined">Party Defense</label>
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [nzIndeterminate]="jobFilter.selfDamageBuff == undefined" [(ngModel)]="jobFilter.selfDamageBuff">Self Damage Buff</label>
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [nzIndeterminate]="jobFilter.partyDamageBuff == undefined" [(ngModel)]="jobFilter.partyDamageBuff">Party Damage Buff</label>
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [nzIndeterminate]="jobFilter.damage == undefined" [(ngModel)]="jobFilter.damage">OGCD Damage</label>
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [nzIndeterminate]="jobFilter.healing == undefined" [(ngModel)]="jobFilter.healing">Healing</label>
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [nzIndeterminate]="jobFilter.healingBuff == undefined" [(ngModel)]="jobFilter.healingBuff">Healing Buff</label>
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [nzIndeterminate]="jobFilter.utility == undefined" [(ngModel)]="jobFilter.utility">Utility</label>
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [nzIndeterminate]="jobFilter.enmity == undefined" [(ngModel)]="jobFilter.enmity">Enmity</label>
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [nzIndeterminate]="jobFilter.pet == undefined" [(ngModel)]="jobFilter.pet">Pet</label>
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
      <label nz-checkbox (ngModelChange)="updateFilter()" [nzIndeterminate]="jobFilter.unused == undefined" [(ngModel)]="jobFilter.unused">Show Unused</label>
    </ng-template>
    <ng-template contextMenuItem [visible]="true" [enabled]="true" (execute)="resetJobFilter()">
      Reset
    </ng-template>
  </context-menu>
</context-menu>
