<div class="settings-filter">
  <div>
    Ability types:
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="selfDefensive">Self Defense</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="partyDefensive">Party Defense</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="selfDamageBuff">Self Damage Buff</mat-checkbox>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="partyDamageBuff">Party Damage Buff</mat-checkbox>
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="damage">OGCD Damage</mat-checkbox>
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="healing">Healing</mat-checkbox>
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="healingBuff">Healing Buff</mat-checkbox>
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="utility">Utility</mat-checkbox>
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="pet">Pets</mat-checkbox>
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="unused">Show unused</mat-checkbox>
  </div>
  <div>
    Boss attack types:
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="isTankBuster">Tank buster</mat-checkbox>
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="isAoe">AOE</mat-checkbox>
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="isShare">Share damage</mat-checkbox>
  </div>
  <div>
    <mat-checkbox  [(ngModel)]="isOther">Other</mat-checkbox>
  </div>
</div>
