<h1 mat-dialog-title>Save Boss</h1>
<form>
    <div mat-dialog-content style="height: 360px;">

        <div>
            <mat-form-field>
                <input name="username" required matInput placeholder="User name (Case sensetive)" [formControl]="userNameControl" [(ngModel)]="data.userName" />
                <mat-error *ngIf="userNameControl.invalid">You must enter a value</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input name="secret" required matInput placeholder="Secret (Case sensetive)" type="password" [formControl]="secretControl" [(ngModel)]="data.secret" />
                <mat-error *ngIf="secretControl.invalid">You must enter a value</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox name="isPrivate" [(ngModel)]="data.isPrivate">Is Private</mat-checkbox>
        </div>
        <hr />
        <mat-form-field>
            <input name="bossName" required matInput placeholder="Boss name" [formControl]="bossNameControl" [(ngModel)]="data.name" />
            <mat-error *ngIf="bossNameControl.invalid">You must enter a value</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input name="author" required matInput placeholder="Author name" [formControl]="authorControl" [(ngModel)]="data.author" />
            <mat-error *ngIf="authorControl.invalid">You must enter a value</mat-error>
        </mat-form-field>



    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button type="submit" (click)="onSaveClick()" cdkFocusInitial>Save</button>
        <button mat-button type="submit" (click)="onSaveAsNewClick()" *ngIf="!!data.id" cdkFocusInitial>Save as new</button>
    </div>
</form>