<div style="height: 215px">
    <form nz-form [formGroup]="loginForm">
        <nz-form-item>
            <nz-form-control>
                <input nz-input type="text" formControlName="username" placeholder="Username" />
                <nz-form-explain *ngIf="submitted && f.username.errors && f.username.errors.required">Username is required</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <input nz-input type="password" formControlName="password" placeholder="Password" />
                <nz-form-explain *ngIf="submitted && f.password.errors && f.password.errors.required">Password is required</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <div>
            Do not have account? <a href="#" (click)="onSignUp()">Sign up</a>
        </div>
    </form>
</div>
<!-- <div mat-dialog-actions> -->
<!--     <button mat-button (click)="onNoClick()">No Thanks</button> -->
<!--     <button mat-button (click)="onLoginClick()" [disabled]="loading" cdkFocusInitial> -->
<!--         Login -->
<!--         <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
<!--     </button> -->
<!-- </div> -->
