<div mat-dialog-content style="height: 65px;">
  <form nz-form>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input name="sessionUrl" readonly="readonly" nz-input placeholder="URL" #inputTarget [(value)]="data" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon nzType="copy" nzTheme="outline" (cbOnSuccess)="onCopied()" [ngxClipboard]="inputTarget"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>


