<div mat-dialog-content style="height: 600px; min-height: 600px;overflow: hidden">
    <nz-layout>
      <nz-sider nzTheme="light" style="overflow: auto; height: 100vh;">
        
          <input nz-input placeholder="Search" [formControl]="searchControl"/>

        <ul nz-menu [nzMode]="'inline'">
          <li nz-menu-item *ngFor="let zone of zones"> {{zone.name}} </li>            
        </ul>
      </nz-sider>
      <nz-layout style="height: 600px">
        <nz-content style="margin:24px 2px 2px 10px;overflow: auto">
          <nz-list>
            <nz-list-item *ngFor="let template of templates">
              {{template.name}}
            </nz-list-item>
          </nz-list>
        </nz-content>
      </nz-layout>
    </nz-layout>
</div>
