<div mat-dialog-content style="height: 600px; min-height: 600px;overflow: hidden">
  <nz-layout>
    <nz-spin nzTip='Loading...' [nzSpinning]="isSpinning" [nzDelay]="500">
      <nz-sider nzTheme="light" style="overflow: auto; height: 600px;" [nzWidth]="400">
        <nz-layout style="height: 600px">
          <nz-header style="background: #fff; padding:3px;">
            <input nz-input placeholder="Search" [formControl]="searchControl" (ngModelChange)="onSearchChange($event)" />
          </nz-header>
          <nz-content customScroll style="overflow: auto">
            <ul nz-menu [nzMode]="'inline'">
              <li nz-submenu *ngFor="let zone of zones | async">
                <span title>{{zone.name}}</span>
                <ul>
                  <li nz-menu-item *ngFor="let encounter of zone.encounters" (click)="onEncounterSelected(encounter)">{{encounter.name}}</li>
                </ul>
            </ul>
          </nz-content>
        </nz-layout>

      </nz-sider>
    </nz-spin>
    <nz-layout style="height: 600px">
      <nz-content style="margin:24px 2px 2px 10px;overflow: auto">
        <nz-list>
          <nz-list-item *ngFor="let template of templates">
            {{template.name}}
          </nz-list-item>
        </nz-list>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
