<context-menu #filter>
  <ng-template contextMenuItem [visible]="true" [enabled]="false" passive="true">
    Ability types:
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="selfDefensive">Self Defense</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="partyDefensive">Party Defense</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="selfDamageBuff">Self Damage Buff</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="partyDamageBuff">Party Damage Buff</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="damage">OGCD Damage</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="healing">Healing</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="healingBuff">Healing Buff</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="utility">Utility</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="pet">Pets</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="unused">Show unused</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="false" passive="true">
    Boss attack types:
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="isTankBuster">Tank buster</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="isAoe">AOE</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="isShare">Share damage</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="isOther">Other</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="isMagical">Magical damage</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="isPhysical">Physical damage</mat-checkbox>
  </ng-template>
  <ng-template contextMenuItem [visible]="true" [enabled]="true" passive="true">
    <mat-checkbox (change)="updateFilter()" [(ngModel)]="isUnaspected">Unaspected damage</mat-checkbox>
  </ng-template>
</context-menu>
