<h1 mat-dialog-title>Save Fight</h1>
<form>
    <div mat-dialog-content style="height: 360px;">
        <mat-form-field style="width: 90%">
            <input name="fightName" required matInput placeholder="Fight name"  [formControl]="fightNameControl" [(ngModel)]="data.name" />
            <mat-error *ngIf="fightNameControl.invalid">You must enter a value</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button type="submit" (click)="onSaveClick()" cdkFocusInitial>Save</button>
        <button mat-button type="submit" (click)="onSaveAsNewClick()" *ngIf="!!data.id" cdkFocusInitial>Save as new</button>
    </div>
</form>
