<div style="height: 275px">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-control nzHasFeedback [nzValidateStatus]="checkingUser?'validating':(f.username.value.length > 0 && !checkingUser && !f.username.errors?'success':'error')">
        <input nz-input type="text" formControlName="username" placeholder="Username" />
        <nz-form-explain *ngIf="f.username.errors && f.username.errors.required">Username is required</nz-form-explain>
        <nz-form-explain *ngIf="f.username.value.length > 0 && f.username.errors && !f.username.errors.isUserNameUnique">Username is already in use</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="password" placeholder="Password" />
        <nz-form-explain *ngIf="f.password.errors && f.password.errors.required">Password is required</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="repeatPassword" placeholder="Confirm password" />
        <nz-form-explain *ngIf="f.repeatPassword.errors && f.repeatPassword.errors.required">Password confirmation is required</nz-form-explain>
        <nz-form-explain *ngIf="f.repeatPassword.errors && f.repeatPassword.errors.matchOther">Passwords are not same</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<!-- <div mat-dialog-actions> -->
<!--   <button mat-button (click)="onNoClick()">No Thanks</button> -->
<!--   <button mat-button (click)="onRegisterClick()" [disabled]="loading || !captchaLoaded" cdkFocusInitial> -->
<!--     Register -->
<!--     <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
<!--   </button> -->
<!-- </div> -->
