<div style="height: 275px">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-control nzHasFeedback [nzValidateStatus]="checkingUser?'validating':(f.username.value.length > 0 && !checkingUser && !f.username.errors?'success':'error')">
        <input nz-input type="text" formControlName="username" placeholder="Username" />
        <nz-form-explain *ngIf="f.username.errors && f.username.errors.required">Username is required</nz-form-explain>
        <nz-form-explain *ngIf="f.username.value.length > 0 && f.username.errors && !f.username.errors.isUserNameUnique">Username is already in use</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="password" placeholder="Password" />
        <nz-form-explain *ngIf="f.password.errors && f.password.errors.required">Password is required</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="repeatPassword" placeholder="Confirm password" />
        <nz-form-explain *ngIf="f.repeatPassword.errors && f.repeatPassword.errors.required">Password confirmation is required</nz-form-explain>
        <nz-form-explain *ngIf="f.repeatPassword.errors && f.repeatPassword.errors.matchOther">Passwords are not same</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div style="margin-top: 15px">
          <re-captcha formControlName="recaptcha"
                      size="Normal"
                      hl="en"
                      theme="Light"
                      type="Image"
                      (resolved)="handleSuccess($event)">
          </re-captcha>
          <nz-form-explain *ngIf="f.recaptcha.errors && f.recaptcha.errors.required">Captcha is required</nz-form-explain>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
