<div style="min-height: 420px;">
  <nz-tabset [nzSelectedIndex]="1">
    <nz-tab [nzDisabled]="true" [nzTitle]="header">
      <ng-template #header>
        <h3 style="color: black;margin: 0 0 0">Boss Attack</h3>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Main">
      <form nz-form [formGroup]="editForm">
        <nz-form-item [nzGutter]="24">
          <nz-form-control nzSpan="10" [nzHasFeedback]="submitted" [nzValidateStatus]="submitted && f.bossAttackName.errors?'error':'success'">
            <input nz-input formControlName="bossAttackName" placeholder="Attack name">
            <nz-form-explain *ngIf="submitted && f.bossAttackName.errors && f.bossAttackName.errors.required">You must enter a value</nz-form-explain>
          </nz-form-control>
          <nz-form-control nzSpan="10" [nzValidateStatus]="submitted && f.damageType.errors?'error':'success'">
            <nz-radio-group formControlName="damageType" nzPlaceHolder="Damage type" [nzButtonStyle]="'solid'">
              <label nz-radio-button [nzValue]="0" nzLabel="None">None</label>
              <label nz-radio-button [nzValue]="1" nzLabel="Physical">Physical</label>
              <label nz-radio-button [nzValue]="2" nzLabel="Magical">Magical</label>
            </nz-radio-group>
            <nz-form-explain *ngIf="submitted && f.damageType.errors && f.damageType.errors.required">You must select a value</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzSpan="10" [nzHasFeedback]="submitted" [nzValidateStatus]="submitted && f.bossAttackTime.errors?'error':'success'">
            <input nz-input wheelOn formControlName="bossAttackTime" placeholder="Time" [ngClass]="{ 'is-invalid': submitted && f.bossAttackTime.errors}">
            <nz-form-explain *ngIf="submitted && f.bossAttackTime.errors && f.bossAttackTime.errors.required">You must enter a value</nz-form-explain>
            <nz-form-explain *ngIf="submitted && f.bossAttackTime.errors && f.bossAttackTime.errors.time">You must enter a value in format mm:ss</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <label nz-checkbox formControlName="tankBuster" class="margin-right:10px">Tank Buster</label>
        </nz-form-item>
        <nz-form-item>
          <label nz-checkbox formControlName="aoe" class="margin-right:10px">AoE</label>
        </nz-form-item>
        <nz-form-item>
          <label nz-checkbox formControlName="share" class="margin-right:10px">Share Damage</label>
        </nz-form-item>
      </form>
    </nz-tab>
    <nz-tab nzTitle="FFLogs Sync">
      <nz-layout [ngStyle]="{width:'100%', height:'100%'}">
        <nz-sider nzTheme="light" [ngStyle]="{ height:'384px', overflow: 'auto'}">
          <nz-tree #tree [nzData]="settings" [ngStyle]="{width:'100%', height:'100%'}" [nzMultiple]="false" [nzBlockNode]="true" [nzShowLine]="true">

          </nz-tree>
        </nz-sider>
        <nz-sider nzTheme="light" [nzWidth]="45" [ngStyle]="{'text-align':'center'}">
          <div class="plus-button">
            <nz-dropdown [nzTrigger]="'click'">
              <button nz-button nz-dropdown nzSize="small" [disabled]="tree.getSelectedNodeList().length==0 || tree.getSelectedNodeList()[0].isLeaf"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
              <ul nz-menu>
                <li nz-menu-item (click)="addAnd()">AND</li>
                <li nz-menu-item (click)="addOr()">OR</li>
                <li nz-menu-item (click)="addCondition()">Condition</li>
              </ul>
            </nz-dropdown>
          </div>
          <div class="minus-button">
            <button nz-button nzSize="small" [disabled]="tree.getSelectedNodeList().length==0 || !tree.getSelectedNodeList()[0].getParentNode()" (click)="remove()"><i nz-icon nzType="minus" nzTheme="outline"></i></button>
          </div>
        </nz-sider>
        <nz-layout>
          <nz-content>
            <form nz-form>
              <div style="padding: 2px">
                {{expression}}
              </div>
            </form>
          </nz-content>
        </nz-layout>
      </nz-layout>
    </nz-tab>
  </nz-tabset>
</div>
