<nz-spin nzTip="Loading..." [nzSpinning]="loading">
  <div style="height: 360px;">
    <div *ngIf="!loading && container.fights && container.fights.length>0">
      <div style="height: 360px;overflow: auto">
        <nz-list #fights
                 [nzDataSource]="container.fights"
                 [nzRenderItem]="item"
                 nzSize="small">
          <ng-template #item let-item>
            <nz-list-item [nzActions]="[removeAction]">
              <nz-list-item-meta [nzTitle]="nzTitle">
                <ng-template #nzTitle>
                  <a (click)="select(item)">{{ item.name }}</a>
                </ng-template>
              </nz-list-item-meta>
              <ng-template #removeAction><a nz-popconfirm nzTitle="Are you sure delete this fight?" (nzOnConfirm)="remove(item)"><i nz-icon nzType="delete" nzTheme="twotone"></i></a></ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </div>
    <div *ngIf="!loading && (!container.fights || container.fights.length==0)">
      <nz-empty></nz-empty>
    </div>
  </div>
</nz-spin>
<ng-template #buttonsTempalte>
  <button nz-button nzType="primary" (click)="onNoClick()" cdkFocusInitial>Cancel</button>
</ng-template>
