.importDialogList {
  height: 290px;
  overflow: auto;
  scroll-behavior: auto;
}


.loadList .ant-list-item:hover {
  background-color: #e6f7ff;
}

.loadList .ant-list-item {
  cursor: pointer;
}

i:hover {
  color: red;
}
